@charset "UTF-8";
/* CSS Document */
	body { 
	margin: 0 auto;
	padding-top: 35px;
	min-height: 100vh;
	text-align: center;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); 
	font-family: 'Rubik';}
container {
	margin: 150px auto 30px auto; 
	max-width: 640px;}
h1 { text-align: center; }


